<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750908141751-ekmfgrs2fdqjq6k12akl18ue9qamd0lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750908141751-ekmfgrs2fdqjq6k12akl18ue9qamd0lv</string>
	<key>API_KEY</key>
	<string>AIzaSyAw2jQAwu_4yU_YQxh81lzVGy3PE2V2w1o</string>
	<key>GCM_SENDER_ID</key>
	<string>750908141751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zingobar.ios</string>
	<key>PROJECT_ID</key>
	<string>zingobar-d2dd6</string>
	<key>STORAGE_BUCKET</key>
	<string>zingobar-d2dd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750908141751:ios:8ae75aedb157565b7c1d32</string>
</dict>
</plist>