<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435474097745-a5caniof2dkrpefebbepq805706uathu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435474097745-a5caniof2dkrpefebbepq805706uathu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435474097745-16ko2gd1hssruqk66hb7hjjm9c2ku5e1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl0xctiXVBSVYkU9mgekmGYdeEKqcaRrw</string>
	<key>GCM_SENDER_ID</key>
	<string>435474097745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otrixapp.ios</string>
	<key>PROJECT_ID</key>
	<string>testproject-69d1f</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-69d1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435474097745:ios:48d86dc4bb73423605fa70</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-69d1f.firebaseio.com</string>
</dict>
</plist>